[phases.setup]
nixPkgs = ["nodejs_22"]

[phases.install]
cmds = [
  "npm install --legacy-peer-deps",
  "cd client && npm install --legacy-peer-deps && cd .."
]

[phases.build]
cmds = ["npm run build"]

[start]
cmd = "npm start"
